In [ ]:
import pandas as pd

In [ ]:
df_list = [
  ["Lamar Jackson", 23, "Ravens", "QB"]
  , ["Russell Wilson", 31, "Seahawks", "QB"]
  , ["Aaron Donald", 29, "Rams", "DT"]
  , ["Patrick Mahomes", 24, "Chiefs", "QB"]
  , ["Michael Thomas", 27, "Saints", "WR"]
  , ["Christian McCaffrey", 24, "Panthers", "RB"]
  , ["George Kittle", 26, "49ers", "TE"]
  , ["DeAndre Hopkins", 28, "Cardinals", "WR"]
  , ["Stephon Gilmore", 29, "Patriots", "CB"]
  , ["Derrick Henry", 26, "Titans", "RB"]
]
df_columns = ["Name", "Age", "Team", "Position"]
players = pd.DataFrame(data=df_list, columns=df_columns)

SELECT * FROM players

In [ ]:
players

                  Name  Age       Team Position
0        Lamar Jackson   23     Ravens       QB
1       Russell Wilson   31   Seahawks       QB
2         Aaron Donald   29       Rams       DT
3      Patrick Mahomes   24     Chiefs       QB
4       Michael Thomas   27     Saints       WR
5  Christian McCaffrey   24   Panthers       RB
6        George Kittle   26      49ers       TE
7      DeAndre Hopkins   28  Cardinals       WR
8      Stephon Gilmore   29   Patriots       CB
9        Derrick Henry   26     Titans       RB

SELECT * FROM players LIMIT 5

SELECT TOP5 * FROM players

In [ ]:
players.head(5)

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
2     Aaron Donald   29      Rams       DT
3  Patrick Mahomes   24    Chiefs       QB
4   Michael Thomas   27    Saints       WR

SELECT Name, Age FROM players

In [ ]:
players[["Name", "Age"]]

                  Name  Age
0        Lamar Jackson   23
1       Russell Wilson   31
2         Aaron Donald   29
3      Patrick Mahomes   24
4       Michael Thomas   27
5  Christian McCaffrey   24
6        George Kittle   26
7      DeAndre Hopkins   28
8      Stephon Gilmore   29
9        Derrick Henry   26

SELECT DISTINCT Position FROM players

In [ ]:
distinct_pos = list(players["Position"].unique())

In [ ]:
len(distinct_pos)

6

SELECT * FROM players WHERE Position = "QB"

In [ ]:
players[["Name", "Age"]][(players["Position"]=="QB") | (players["Position"]=="DT")]

              Name  Age
0    Lamar Jackson   23
1   Russell Wilson   31
2     Aaron Donald   29
3  Patrick Mahomes   24

SELECT * FROM players ORDER BY Name DESC

In [ ]:
players[["Age","Name"]].sort_values(["Age","Name"], ascending=False)

   Age                 Name
1   31       Russell Wilson
8   29      Stephon Gilmore
2   29         Aaron Donald
7   28      DeAndre Hopkins
4   27       Michael Thomas
6   26        George Kittle
9   26        Derrick Henry
3   24      Patrick Mahomes
5   24  Christian McCaffrey
0   23        Lamar Jackson

SELECT COUNT(*) AS count_pos FROM players GROUP BY Position

In [ ]:
players.groupby("Position").count()

          Name  Age  Team
Position
CB           1    1     1
DT           1    1     1
QB           3    3     3
RB           2    2     2
TE           1    1     1
WR           2    2     2

In [ ]:
df_team = [
  [1, "Arizona Diamondbacks"]
  , [2, "Colorado Rockies"]
  , [3, "Los Angeles Dodgers"]
  , [4, "San Diego Padres"]
  , [5, "San Francisco Giants"]
]
team_columns = ["Id", "Name"]
teams = pd.DataFrame(data=df_team, columns=team_columns)

In [ ]:
df_player = [
  [1, "Cody Bellinger", 3, "OF"]
  , [2, "Mookie Betts", 3, "OF"]
  , [3, "Nolan Arenado", 2, "3B"]
  , [4, "Trevor Story", 2, "SS"]
  , [5, "Fernando Tatis Jr.", 4, "SS"]
  , [6, "Buster Posey", 5, "C"]
  , [7, "Starling Marte", 1, "OF"]
  , [8, "Manny Machado", 4, "3B"]
]
player_columns = ["Id", "Name", "TeamId", "Position"]
players = pd.DataFrame(data=df_player, columns=player_columns)

In [ ]:
df_homerun = [
  [2, 16]
  , [5, 15]
  , [8, 16]
]
homerun_columns = ["PlayerId", "Homerun"]
homeruns = pd.DataFrame(data=df_homerun, columns=homerun_columns)

In [ ]:
players

   Id                Name  TeamId Position
0   1      Cody Bellinger       3       OF
1   2        Mookie Betts       3       OF
2   3       Nolan Arenado       2       3B
3   4        Trevor Story       2       SS
4   5  Fernando Tatis Jr.       4       SS
5   6        Buster Posey       5        C
6   7      Starling Marte       1       OF
7   8       Manny Machado       4       3B

In [ ]:
teams

   Id                  Name
0   1  Arizona Diamondbacks
1   2      Colorado Rockies
2   3   Los Angeles Dodgers
3   4      San Diego Padres
4   5  San Francisco Giants

In [ ]:
homeruns

   PlayerId  Homerun
0         2       16
1         5       15
2         8       16

SELECT p.Name, h.Homerun

FROM players AS p 

JOIN homeruns AS h

ON p.Id = h.PlayerId

In [ ]:
player_homeruns = pd.merge(players, homeruns, how="inner", left_on="Id", right_on="PlayerId")

In [ ]:
player_homeruns

   Id                Name  TeamId Position  PlayerId  Homerun
0   2        Mookie Betts       3       OF         2       16
1   5  Fernando Tatis Jr.       4       SS         5       15
2   8       Manny Machado       4       3B         8       16